.request{
    background: #f2f2f2;
    padding: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    word-wrap: break-word;
}
.request-title{
    font-family: Helvetica, sans-serif;
    font-size: 30px;
}
.request-type-get{
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    color: #009933;
}
.request-type-post{
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    color: #ffbf00;
}
.request-type-delete{
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    color: #ff4000;
}
.request-type-update{
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    color: #0040ff;
}
.request-type-start{
    font-family: Helvetica, sans-serif;
    font-size: 35px;
    color: #FF2CE6;
}
.request-description{
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}
.request-param{
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
}
.request-param-title{
    font-size: 20px;    
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.request-sample-link{
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
}
.request-sample-title{
    font-size: 20px;    
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.request-body{
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
}
.request-body-title{
    font-size: 20px;    
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.request-call{
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
}
.request-call-title{
    font-size: 20px;    
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.request-result{
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: 1px solid #000000;
}
.request-result-title{
    font-size: 20px;    
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}
.comment{
    color: #009933;
}
.var{
    color: #0000ff;
}
.string{
    color: #cc33ff;
}
.key{
    color: #0040ff;
}
.value{
    color: #5cc639;
}