body{
  background: #BDBDBD;
  font-family: monospace;
  font-size: 15px;
}
/* label{
  color: transparent; 
}
#addProductRow{
  color: transparent;
} */
h1{ 
  color: #000000; 
  font-family: monospace; 
  font-size: 40px; 
  font-weight: bold; 
  text-align: center; 
}
.submit-button{
  background-color: #4CAF50;
  border: none;
  color: #0A0A0A;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
}
.delete-button{
  background-color: #FF6666;
  border: none;
  color: #0A0A0A;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
}

.edit-button{
  background-color: #90A7FF;
  border: none;
  color: #0A0A0A;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
}
.cancel-button{
  background-color: #FF6666;
  border: none;
  color: 0A0A0A;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 2px 1px;
  cursor: pointer;
}
.holder{
  width: 80%;
  background: #FFFFE9;
  margin: 0 auto;
  padding: 20px;
  display: block;
}
.banner{
  width: 100%;
  background-repeat: repeat-x;
  display: block;
}
.banner img{
  max-width: 100%;
  height: auto;
}
.table-holder{
  width: 80%;
  margin: 0 auto;
  padding: 5px;
  overflow-x:auto;
}
.sorting-image{
  width: 10px;
  height: 10px;
  padding-top: 5px;
  float: right;
}
#products{
  margin: 0 auto;
  border: 1px solid #000000;
  border-spacing: 0px;
  border-collapse: collapse; 
}
#products th, #products tr,#products td{
  border: 1px solid #000000;
  padding: 3px;
}
#products th{
  /* background: #EBF5FB; */
  background: #FFD9B3
}
#submit-botton-cell{
  border: none !important;
  border-spacing: 0px !important;
  text-align: center;
}
#reset-table{
  width: 80%;
  margin: 0 auto;
}
#reset-botton-cell{
  text-align: center;
}
.image-cell{
  text-align: center;
}
.holder-question{
  width: 80%;
  text-align: left;
  font-size: 20px;
  padding: 15px;
  margin: 0 auto;
}
.holder-question-title{
  width: 80%;
  background: #EBF5FB;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  text-align: center;
  font-size: 20px;
  margin: auto;
  font: bold;
  padding: 15px;
}
.holder-question-answer{
  width: 80%;
  background: #EFFBEF;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  text-align: left;
  font-size: 15px;
  margin: auto;
  padding: 15px;
}
#protocolTable{
  width: 100%;
  border: 1px solid #000000;
  border-spacing: 0px;
  border-collapse: collapse; 
}
#protocolTable th, #protocolTable tr,#protocolTable td{
  border: 1px solid #000000;
  padding: 3px;
}

.browser-comp{
  width: 80%;
  margin: 0 auto;
  background: #FFE5E5;
  border-radius: 15px;
  text-align: left;
  font-size: 20px;
  margin: auto;
  font: bold;
  padding: 15px;
}
@media (max-width: 1000px) {
  .table-holder{
    width: 80%;
    margin: 0 auto;
    padding: 5px;
    overflow-x:auto;
  }
  #products {
    width:100%;
    border: 1px solid #000000;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  #products tr,#products td{
    display:block;
    border: 1px solid #000000;
    padding: 3px;
  }
  #protocolTable {
    width:100%;
    border: 1px solid #000000;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  #protocolTable tr,#protocolTable td{
    display:block;
    border: 1px solid #000000;
    padding: 3px;
  }
}

.delete-confirm-window-class {
  display: none;
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}


.delete-confirm-window-content {
  background-color: #FA8072;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #888;
  width: 80%;
  color: #FFFFFF;
}
/*--------------------------------------*/
.reset-confirm-window-class {
  display: none;
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}


.reset-confirm-window-content {
  background-color: #FA8072;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #888;
  width: 80%;
  color: #FFFFFF;
}
/*---------------------------------------------------------------------------------*/
.product-confirm-window-class {
  display: none;
  position: fixed;
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.5); 
}

.product-confirm-window-content {
  background-color: #BFFF00;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  border: 1px solid #888;
  width: 80%;
  color: #000000;
}
.close {
  color: #FFFFFF;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

  /*----------_CSS MENU_-------------------*/
/* @import url(http://fonts.googleapis.com/css?family=Open+Sans:700); */
#cssmenu {
  background: #FF999C;
  width: auto;
}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #292929;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family:monospace;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #000000;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #292929;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #000000;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #000000;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #ff4d4d;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }
}

/*-------------------defines how a block list in the API documentation info will look like */
#block-list{
  list-style: none;
  margin: 5px 0 5px -20px;
  font-weight: bold;
  /* padding: 0; */

}
#block-list li:before {
  display: inline-block;
  content: "-";
  width: 15px;
  margin-left: -15px;
}

pre{
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.api-general{
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  background: #ffcc80;
  word-wrap: break-word;
  
}
.api-general-title{
  text-align: center;
}
.api-general-title h1{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px;
}
.api-general-title h3{
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: normal;
}
.api-general-info{
  padding: 40px;
  font-family: Helvetica, sans-serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #7db3e8;
}

.repor-title h1{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  padding: 20px;
}
.report-title h3{
  font-family: Helvetica, sans-serif;
  font-style: italic;
  font-size: 15px;
  font-weight: normal;
  text-align: center;
}
.report-title h4{
  width: 80%;
  font-family: Helvetica, sans-serif;
  font-size: 17px;
  font-weight: normal;
  text-align: justify;
  margin: 0 auto;
}

.guidline{
  background: #f2f2f2;
  padding: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 15px;
  word-wrap: break-word;
}
.guidline-header{
  border-bottom: solid 1px #000000;
}
.guidline-title{
  font-family: Helvetica, sans-serif,;
  font-size: 22px;
  color: #009933;
  font-weight: bold;
}

.guidline-url{
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.guidline-url a{
  color: #f96e5b;
  line-height: 30px;
}
.guidline-content{
  padding: 10px;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
.guidline-content-title{
  font-size: 20px;    
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

.guidline-solution{
  padding: 10px;
  background: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}
.guidline-solution-title{
  font-size: 18px;    
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}
.string{
  color: #cc33ff;
}
#table-wcag{
  margin: 0 auto;
  width: 60%;
  border: 1px solid #000000;
  border-spacing: 0px;
  border-collapse: collapse; 
}
#table-wcag th, #table-wcag tr,#table-wcag td{
  border: 1px solid #000000;
  padding: 5px;
}
#table-wcag th{
  /* background: #EBF5FB; */
  background: #FFD9B3
}
.yes-cell{
  width: 10%;
  text-align: center;
}
.no-cell{
  width: 10%;
  
}
.yes-cell-active{
  background: #009933;
  text-align: center;
}
.no-cell-active{
  background: #FF6666;
  text-align: center;
}



  